/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    display: flex;
    align-content: space-between;
    justify-content: center;
}

#main-div{
    display: grid;
    grid-column: auto;
    align-content: space-evenly;
    justify-items: center;
    gap: 40px;
    
}


#H1{
    font-size: 100px;
}

#inp {
    width: 450px;
    height: 35px;
    border: none; /* Remove all borders */
    border-bottom: 2px solid #ffffff; /* Add only bottom border */
    outline: none; /* Remove outline */
    border-radius: 0; /* Optional: remove rounded corners */
    background-color: transparent; 
    color: #ffffff;
}


#btn{
    width: 150px;
    padding: 4px;
    align-content: space-between;

}


